html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* general styles */
html {
  font-size: 125%;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

img {
  width: 100%;
}

/* stripping styles */
a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

h1,
.headingContainer,
footer {
  text-align: center;
}

h1 {
  font-size: 1rem;
  font-weight: 500;
  background-color: #2A5196;
}

h2 {
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  line-height: 1;
}

h2,
h4 {
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
}

/* adventures headings halifax, sydney */
h4 {
  color: #3d5f3a;
  text-decoration: underline;
  font-size: 1.2rem;
}

h5 {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 20px;
}

h1,
.headingContainer {
  color: rgb(255, 255, 255);
}

header {
  height: 50px;
}

/* hide SKIP LINK TO MAIN CONTENT */
.skipLink {
    position: absolute;
    left: -1000px;
    z-index: 10;
    background: #fff;
    color: black;
    font-size: 1rem;
    padding: 10px 0;
}
/* display skip link to main focus when tabbing */
.skipLink:focus {
    left: 0;
    right: 0;
    text-align: center;
    top: 70px;
}

/* summary text */
.summary p {
  margin-top: 5px;
}

/* navigation menu */
.mainNav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: #2A5196;
  box-shadow: 0 10px 20px #000;
}
/* burger icon */
.burgerButton,
.logoContainer {
  background-color: #2A5196;
  border: none;
  width: 50px;
}

.burgerButton {
  margin-left: 10px;
  width: 45px;
  cursor: pointer;
}

.logoContainer {
  margin-right: 7.5px;
}

/* hidden side nav */
.sideNavHidden {
  display: none;
}
/* styling for when side nav active */
.sideNavActive {
  background-color: #2A5196;
  width: fit-content;
  height: 100%;
  /* width: 250px; */
  position: fixed;
  /* z-index to overlay rest of page */
  z-index: 1;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 1.2rem;
  padding: 20px 20px 0 20px;
  color: rgb(255, 255, 255);
  line-height: 2;
  /* unset display to make it appear/overwrite none */
  display: unset;
}

.sideNavActive ul {
  margin: 0;
}

/* absolute positioning text and image */
.imgContainer {
  position: relative;
  z-index: -10;
}

.headingContainer {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
}

.headingContainer h2:first-child {
  margin-bottom: 0;
}

.headingContainer h2:last-child {
  margin-top: 0;
}

br {
  font-size: xx-small;
}

/* footer */
footer {
  margin: 100px 0 10px 0;
}

footer p {
  margin: 0;
}

/* PHP pages styling */
/* isn't working */
.isntWorkingMain {
  margin-bottom: 10rem;
}

.gifContainer {
  width: 50%;
}

/* project2home */
.supportFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12.5rem;
  margin-top: 2rem;
  background-color: #ddd4d1;
  text-align: center;
  margin-bottom: 12rem;
}

.supportForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.supportForm input,
.supportForm select {
  background-color: white;
  border: 3px solid #fbf3f1;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #1a618a;
  color: white;
  border: 3px solid #1a618a;
  border-radius: 3px;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #154d6d;
}

/* need help */
.needHelpMain {
  margin-bottom: 20rem;
}

h4 a:hover,
h4 a:focus {
  color: #23701c;
  font-weight: bold;
}

/* links container */
.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* back to options link for all pages minus problem.php & logout.php */
.backToOptions {
  display: flex;
  justify-content: flex-start;
  width: -moz-available;
}

.backLink {
  width: fit-content;
  display: inline-block;
  margin-top: 3rem;
}

/* logout link for all pages */
.logoutContainer {
  display: flex;
  width: -moz-available;
  justify-content: flex-end;
}

.logoutLink,
.backLink {
  width: fit-content;
  display: inline-block;
  margin-top: 3rem;
  color: #192e8b;
  text-decoration: underline;
}

.logoutLink:hover,
.logoutLink:focus,
.backLink:hover,
.backLink:focus,
.optionsUl a:hover,
.optionsUl a:focus {
  color: rgb(7, 7, 218);
}

/* problem.php */
.optionsUl {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #192e8b;
  text-decoration: underline;
}

.problemMain {
  margin-bottom: 10rem;
}

/* new account & lost password form */
.sendEmailForm {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
  min-width: 15rem;
  gap: 0.5rem;
}

.newAccountMain,
.lostPasswordMain {
  margin-bottom: 12.5rem;
}

/* send email */
.sendEmailMain {
  margin-bottom: 15rem;
}

/* logout */
.logoutMain {
  margin-bottom: 20rem;
}

/* message for pages without other content */
.message {
  margin-top: 5rem;
}

/* media query */
/* 1200px breakpoint (small laptop) */
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  section {
    margin: 0 40px;
  }
  .project2homeMain {
    margin: 0;
  }
  .project2homeMain .logoutContainer {
    width: 95%;
  }
}

/* 800px breakpoint (tablet) */
@media (max-width: 800px) {
  /* smaller font size */
  html {
    font-size: 100%;
  }
  /* smaller burger icon */
  .burgerButton {
    width: 40px;
  }
  .supportFormContainer {
    margin-bottom: 17.5rem;
  }
  .needHelpMain {
    margin-bottom: 27.5rem;
  }
  .sendEmailMain {
    margin-bottom: 25rem;
  }
  .problemMain {
    margin-bottom: 17.5rem;
  }
  .newAccountMain,
  .lostPasswordMain {
    margin-bottom: 17.5rem;
  }
  .logoutMain {
    margin-bottom: 27.5rem;
  }
  .gifContainer {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .headingContainer {
    top: 25%;
  }
  h2 {
    font-size: 1.8rem;
  }
  section {
    margin: 0 20px;
  }
  .project2homeMain {
    margin: 0;
  }
  .supportFormContainer {
    height: 17rem;
  }
  .supportForm {
    flex-direction: column;
  }
  .newAccountMain,
  .lostPasswordMain {
    margin-bottom: 20rem;
  }
}

@media (max-width: 350px) {
  .headingContainer {
    top: 25%;
    line-height: 0.5;
    font-size: 1.5rem;
  }
  .isntWorkingMain {
    margin-bottom: 12rem;
  }
}